<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>AutoMerge</key>
		<false/>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>AddDTGP</key>
				<false/>
				<key>AddHDMI</key>
				<false/>
				<key>AddIMEI</key>
				<false/>
				<key>AddMCHC</key>
				<false/>
				<key>AddPNLF</key>
				<false/>
				<key>DeleteUnused</key>
				<false/>
				<key>FakeLPC</key>
				<false/>
				<key>FixACST</key>
				<false/>
				<key>FixADP1</key>
				<false/>
				<key>FixAirport</key>
				<false/>
				<key>FixDarwin</key>
				<false/>
				<key>FixDarwin7</key>
				<false/>
				<key>FixDisplay</key>
				<false/>
				<key>FixFirewire</key>
				<false/>
				<key>FixHDA</key>
				<false/>
				<key>FixHPET</key>
				<false/>
				<key>FixIDE</key>
				<false/>
				<key>FixIPIC</key>
				<false/>
				<key>FixIntelGfx</key>
				<false/>
				<key>FixLAN</key>
				<false/>
				<key>FixMutex</key>
				<false/>
				<key>FixRTC</key>
				<true/>
				<key>FixRegions</key>
				<false/>
				<key>FixS3D</key>
				<false/>
				<key>FixSATA</key>
				<false/>
				<key>FixSBUS</key>
				<false/>
				<key>FixShutdown</key>
				<false/>
				<key>FixTMR</key>
				<false/>
				<key>FixUSB</key>
				<false/>
				<key>FixWAK</key>
				<false/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>PNLF to XNLF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>UE5MRg==</data>
					<key>Replace</key>
					<data>WE5MRg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>ACEL._STA to XSTA</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1NUQQCgLZM=</data>
					<key>Replace</key>
					<data>WFNUQQCgLZM=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>GACW to XC12</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R0FDVwBw</data>
					<key>Replace</key>
					<data>WEMxMgBw</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>GBAW  to XC13</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R0JBVwBw</data>
					<key>Replace</key>
					<data>WEMxMwBw</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>BTIF to XTIF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>QlRJRgl5</data>
					<key>Replace</key>
					<data>WFRJRgl5</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>BTST to XTST</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>QlRTVAp5</data>
					<key>Replace</key>
					<data>WFRTVAp5</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>ITLB to XITL</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>SVRMQgB3</data>
					<key>Replace</key>
					<data>WElUTAB3</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>GBTI to XBTI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R0JUSQFw</data>
					<key>Replace</key>
					<data>WEJUSQFw</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>GBTC to XGBU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R0JUQwBw</data>
					<key>Replace</key>
					<data>WEdCVQBw</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>SBTC to XSBT</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>U0JUQwNw</data>
					<key>Replace</key>
					<data>WFNCVANw</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>GCGC to XGCG</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R0NHQwgI</data>
					<key>Replace</key>
					<data>WEdDRwgI</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>GPRW to XPRW</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R1BSVwI=</data>
					<key>Replace</key>
					<data>WFBSVwI=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Return Zero in _STA of TPD0</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>QQCkCg8UM18=</data>
					<key>Replace</key>
					<data>QQCkCgAUM18=</data>
				</dict>
			</array>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
		<key>DisableASPM</key>
		<false/>
		<key>FixHeaders</key>
		<false/>
		<key>FixMCFG</key>
		<false/>
		<key>HaltEnabler</key>
		<false/>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>-v dart=0</string>
		<key>CustomLogo</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>DisableCloverHotkeys</key>
		<false/>
		<key>Legacy</key>
		<string>PBR</string>
		<key>NeverDoRecovery</key>
		<true/>
		<key>NeverHibernate</key>
		<false/>
		<key>NoEarlyProgress</key>
		<true/>
		<key>RtcHibernateAware</key>
		<false/>
		<key>SignatureFixup</key>
		<false/>
		<key>SkipHibernateTimeout</key>
		<false/>
		<key>StrictHibernate</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
	</dict>
	<key>BootGraphics</key>
	<dict>
		<key>EFILoginHiDPI</key>
		<integer>1</integer>
		<key>UIScale</key>
		<integer>1</integer>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>AFGLowPowerState</key>
			<true/>
			<key>Inject</key>
			<string>No</string>
			<key>ResetHDA</key>
			<true/>
		</dict>
		<key>HDMIInjection</key>
		<false/>
		<key>LANInjection</key>
		<false/>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x3)</key>
			<dict>
				<key>layout-id</key>
				<data>CwAAAA==</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>AACbPg==</data>
				<key>device-id</key>
				<data>mz4AAA==</data>
				<key>enable-hdmi-dividers-fix</key>
				<data>AQAAAA==</data>
				<key>enable-hdmi20</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con1-busid</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con1-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con1-type</key>
				<data>AAgAAA==</data>
				<key>framebuffer-patch-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-unifiedmem</key>
				<data>AAAAgA==</data>
				<key>igfxfw</key>
				<data>AgAAAA==</data>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<false/>
			<key>FixOwnership</key>
			<false/>
			<key>HighCurrent</key>
			<false/>
			<key>Inject</key>
			<false/>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
	</dict>
	<key>GUI</key>
	<dict>
		<key>EmbeddedThemeType</key>
		<string>Daytime</string>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
		</array>
		<key>Language</key>
		<string>en-US:0</string>
		<key>PlayAsync</key>
		<false/>
		<key>Scan</key>
		<true/>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
		<key>ShowOptimus</key>
		<true/>
		<key>Theme</key>
		<string>Catalina</string>
		<key>Timezone</key>
		<integer>3</integer>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>Debug</key>
		<false/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>EightApple</key>
		<false/>
		<key>KernelLapic</key>
		<false/>
		<key>KernelPm</key>
		<true/>
		<key>KernelXCPM</key>
		<false/>
		<key>PanicNoKextDump</key>
		<false/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x3E7</string>
		<key>MLB</key>
		<string></string>
		<key>ROM</key>
		<string>UseMacAddr0</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>05/13/2020</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP162.88Z.F000.B00.2005132210</string>
		<key>Board-ID</key>
		<string>Mac-5F9802EFE386AA28</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C020189024N00001F</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>EfiVersion</key>
		<string>1037.120.87.0.0</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>FirmwareFeatures</key>
		<string>0xFDAFF066</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFFFFFF7F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<true/>
		<key>PlatformFeature</key>
		<string>0x32</string>
		<key>ProductName</key>
		<string>MacBookPro16,2</string>
		<key>SerialNumber</key>
		<string>C02CNBYUML7H</string>
		<key>SmUUID</key>
		<string>1DB4A7D7-B761-4C87-A6BC-EE2D4357B8B1</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
		<key>InjectSystemID</key>
		<true/>
		<key>NoCaches</key>
		<true/>
	</dict>
</dict>
</plist>